body{
    text-align: center;
    background-color: lightsteelblue;
    font-size: larger;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: initial;
    font-style: italic;
    
}

input{
    border: 2px black solid;
    border-radius: 5px;
    font-size: large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

textarea{
    border: 2px black solid;
    border-radius: 5px;
    font-size: large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

input:hover{
    border: 2px black dashed;
    border-radius: 5px;
    
}

textarea:hover{
    border: 2px black dashed;
    border-radius: 5px;
}